{% extends "base.html" %}
{% load staticfiles %}

{% block head_js %}
<script type="text/javascript" src="{% static 'js/alternativeImage.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <h1>Build Blog
                <p class="lead">Stories from the PC Builder</p>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <img src="{{ post.author.avatar_url }}" onerror="alternativeImage(this);" class="img-circle avatar-image">
    </div>
    <div class="col-md-10 col-sm-9">
        <h2>{{ post.title }}</h2>
        <p class="blogStats"><strong>Published:</strong> {{ post.published_date }} | <strong>Author:</strong> {{ post.author }} | <strong>Views:</strong> {{ post.views }} | <strong>Tags:</strong> {{ post.tag }}</p>
        <div class="row">
            <div class="col-xs-9">
                {% if post.image %}
                <img src="{{ post.image_url }}" class="img-responsive">
                {% endif %}
                <p>{{ post.content }}</p>
                <button class="btn btn-default" onclick="location.href='/blog'">Back to blog</button>
                {% if user.is_authenticated and post.author == user or user.is_staff %}
                <button class="btn btn-default" onclick="location.href='{% url 'edit' post.id %}'">Edit Post</button>
                {% endif %}
                {% load disqus_tags %}
                {% set_disqus_title post.title %}
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
</div>
{% endblock %}