{% extends "base.html" %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <h1>Build Blog
                <p id="logo" class="lead">Stories from the PC Builder</p>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-3 text-center">
        <img src="https://placehold.it/100" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;"
            class="img-circle">
    </div>
    <div class="col-md-10 col-sm-9">
        <h2>{{ post.title }}</h2>
        <p>{{ post.published_date }} | <strong>Views:</strong> {{ post.views }} | <strong>Tags:</strong> {{ post.tag }}</p>
        <div class="row">
            <div class="col-xs-9">
                {% if post.image %}
                <img src="/media/{{ post.image }}" class="img-responsive"">
                {% endif %}
                <p>{{ post.content }}</p>
                <button class="btn btn-default" onclick="location.href='/blog'">Back to blog</button>
                <button class="btn btn-default" onclick="location.href='{% url 'edit' post.id %}'">Edit Post</button>
                {% load disqus_tags %}
                <!-- May need to remove this line -->
                {% set_disqus_developer 1 %}
                {% set_disqus_title post.title %}
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
</div>
{% endblock %}