html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

.content {
  flex: 1 0 auto;
}

.stickyFooter {
  flex-shrink: 0;
}

.avatar-image {
  width: 100px;
  height: 100px;
}

#credit-card-errors {
  display: none;
}
