{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A place for PC Hobbyists alike">
    <meta name="author" content="Liam Cafearo">
    <title>The PC Hobbyist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    {% block head_js %}{% endblock head_js %}
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">The PC Hobbyist</a>
            </div>
            <div class="collapse navbar-collapse" id="collapsing-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{% url 'donate' %}">Donate</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'forum' %}">Forum</a></li>
                    <li><a href="/pages/about/">About</a></li>
                    <li><a href="{% url 'contact_form' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="content">
        {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- Top of page button, inspired by w3schools example and adapted -->
        <button onclick="topOfPage()" id="topPageBtn" title="Go to top"><span class="glyphicon glyphicon-menu-up"></span></button>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- image modals for index.html inspired by W3 schools -->
        <div id="imgModal-one" class="pictureModal">
            <span id="imgModalOne-close">&times;</span>
            <img class="imgModal-content" id="firstImage">
            <div id="imgModal-captionOne"></div>
        </div>

        <div id="imgModal-two" class="pictureModal">
            <span id="imgModalTwo-close">&times;</span>
            <img class="imgModal-content" id="secondImage">
            <div id="imgModal-captionTwo"></div>
        </div>
    </main>
    <footer class="stickyFooter container text-center">
        <hr>
        <p>Made by Liam Cafearo and Django</p>
    </footer>

    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

</body>

</html>