{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="text-center">
        <h1>{{ flatpage.title }}</h1>
    </div>
</div>
<div class="col-md-6">
    <div class="text-center markerFont-paragraph">
        <p>{{ flatpage.content }}</p>
    </div>
</div>
<figure class="col-md-6">
    <img class="img-rounded img-responsive" src="https://thepchobbyist.s3.amazonaws.com/static/img/computer_setup_one.jpg"
        alt="computer with two monitors">
    <figcaption class="text-center">My latest computer setup.</figcaption>
</figure>
{% endblock %}