{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishablekey = '{{ publishable }}';
    //]]
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<form role="form" method="post" id="donation-form" action="{% url 'register' %}">
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <legend>Your Donation</legend>
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Create account</button>
    </div>
</form>
{% endblock %}